@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Readex+Pro:wght@160..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c6c1ab;
}

nav {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  font-size: 1rem;
  padding-left: 25px;
  /* padding-top: 0.7px; */
  font-family: "Readex Pro", sans-serif;
  font-weight: 100;
}

.menu-box {
  height: 1.8rem;
  width: 10rem;
  background-color: #91897e;
  display: flex;
  justify-content: left;
}

.square-box {
  height: 1.2rem;
  width: 1.3rem;
  background-color: #444035;
  margin: 3%;
  margin-left: 5%;
}

.yorha-logo {
  height: 35vh;
  width: 30vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60vh;
}

.title-text {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.yorha-title {
  font-size: 15vh;
}

.glory-mankind {
  font-size: 3.5vh;
  padding-left: 24px;
}

.box-container {
  height: 30vh;
  width: 18vw;
  background-color: #d7d5c4;
  border: 1px solid black;
  box-shadow: 5px 10px #605c50;
}

.weather-img{
  height: 15vh;
  width: 18vw;
}

.container-title {
  padding-left: 1rem;
  padding-top: 0.5rem;
  color: white;
  background-color: #413d34;
  height: 2rem;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container-title-day {
  padding-left: 1rem;
  padding-top: 0.5rem;
  color: white;
  background-color: #413d34;
  height: 13rem;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.day {
  font-size: 3rem;
}

.time {
  font-size: 1.5rem;
}

.bottom-info-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-info-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather{
  margin: 13vh;
  /* padding-left: 2rem; */
}

.sound{
  padding-right: 3rem;
}

.date-and-time{
  margin-top: 1vh;
  padding-left: 1rem;
}

.pc-status{
  padding-right: 2rem;
}

